<%= form_with(model: group, local: true) do |form| %>
  <% if group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :course_id %>
    <%= form.text_field :course_id, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= form.label :grade %>
    <%= form.text_field :grade, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= form.label :project_title %>
    <%= form.text_field :project_title, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= form.label :project_url %>
    <%= form.text_field :project_url, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit 'Update Group', class: 'btn btn-primary' %>
  </div>
<% end %>
