<p id="notice"><%= notice %></p>

<p>
  <strong>Course:</strong>
  <%= link_to @group.course, @group.course %>
</p>

<p>
  <strong>Group name:</strong>
  <%= link_to @group.name, group_url(@group) %>
  
</p>

<p>
  <strong>Group ID:</strong>
  <%= @group.id %>
</p>

<p>
  <strong>Project topic:</strong>
  <%= @group.project_topic %>
</p>

<%= form_with(model: @group, url:update_grade_group_path(@group), method: 'put', local: true) do |form| %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% @group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :grade %>
    <%= form.text_field :grade %>
  </div>

  <div class="actions">
    <%= form.submit "update grade" %>
  </div>
<% end %>
