<p id="notice"><%= notice %></p>

<h1> Course: <%= link_to @group.course, @group.course %> </h1>

<h2> Group: <%= link_to @group.name, @group %> </h2>

<%= form_with(model: @group, url:update_project_topic_group_path(@group), method: 'put', local: true) do |form| %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% @group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :project_topic %>
    <%= form.text_field :project_topic, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit "update project topic", class: 'btn btn-primary' %>
  </div>
<% end %>
