<p id="notice"><%= notice %></p>

<p>
  <strong>Course:</strong>
  <%= link_to @group.course, @group.course %>
</p>

<p>
  <strong>Group ID:</strong>
  <%= @group.id %>
</p>

<p>
  <strong>Group name:</strong>
  <%= @group.name %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @group.grade %>
</p>

<p>
  <strong>Project topic:</strong>
  <%= @group.project_topic %>
</p>

<% if current_user.instructor? %>
  <%= link_to 'Edit', edit_group_path(@group) %> |
<% elsif current_user.student? %>
  <%= link_to 'Rename', edit_name_group_path(@group) %> |
<% end %>
<%= link_to 'Back', groups_course_path(@group.course) %>

<br>

<hr>
<strong>Group members:</strong>
<table class="table table-hover">
  <tr>
    <th>Username</th>
    <th>Role</th>
  </tr>
  <%# Loop through subscribers who are part of this group %>
  <% for subscriber in @group.subscribers %>
    <tr>
      <td>
        <%= subscriber.user.username %>
      </td>
      <td>
        <%= subscriber.user.role.name %>
      </td>
      <% if current_user.instructor? %>
        <td>
          <%= link_to "Remove from group", remove_subscriber_group_path(@group, :subscriber_id => subscriber.id),
            class: 'btn btn-danger', method:"delete" %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>

<% if current_user.instructor? %>
  <%= link_to "Add students to group.", add_subscribers_group_path(@group), class: 'btn btn-success' %>
<% end %>
