<p id="notice"><%= notice %></p>

<p>
  <strong>Instructor:</strong>
  <%= @course.instructor.user.username %>
</p>

<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>


<% if @course.instructor? current_user %>
  <%= link_to 'Edit', edit_course_path(@course) %> |
  <%= link_to 'Back', courses_path %>
<% end %>

<br> 

<% if @course.subscribed?(current_user) %>
  <%= link_to "Exit!", unsubscribe_course_path(@course), method: :delete %> <br>
<% else %>
  <%= link_to "Join!", subscribe_course_path(@course), method: :post %> <br>
<% end %>

<%= link_to "Groups", groups_course_path(@course), method: :get %> <br>

