<p id="notice"><%= notice %></p>

<p>
  <strong>Instructor:</strong>
  <%= @course.instructor.user.username %>
</p>

<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>


<% if @course.instructor? current_user %>
  <%= link_to 'Edit', edit_course_path(@course) %> |
  <%= link_to 'Back', courses_path %>
<% end %>

<br> 

<% if @course.subscribed?(current_user) %>
  <%= link_to "Exit!", unsubscribe_course_path(@course), method: :delete, class: 'btn btn-danger' %> <br>
<% else %>
  <%= link_to "Join!", subscribe_course_path(@course), method: :post, class: 'btn btn-success' %> <br>
<% end %>

<br>

<% if current_user.instructor? %>
  <%= link_to "Groups", groups_course_path(@course), method: :get, class: 'btn btn btn-primary' %> <br>
<% end %>

<% if current_user.student? %>
  <? group = @course.subscribers.where(user: current_user).first.group ?>
  <%= link_to "Your Group", group_url, method: :get, class: 'btn btn btn-primary' %> <br>
<% end %>

