<p id="notice"><%= notice %></p>

<p>
  <strong>Course:</strong>
  <%= link_to @course, @course %>
</p>

<hr>
<strong>Students:</strong>
<table class="table table-hover">
  <tr>
    <th>Username</th>
    <th>Name</th>
    <th>Student ID</th>
    <th>Group</th>
  </tr>
  <%# Loop through subscribers who are part of this group %>
  <% for subscriber in @student_subscribers %>
    <tr>
      <td>
        <%= subscriber.user.username %>
      </td>
      <td>
        <%= subscriber.user.first_name %>
        <%= subscriber.user.last_name %>
      </td>
      <td>
        <%= subscriber.user.instituteid %>
      </td>
      <td>
        <%= link_to subscriber.group.name, subscriber.group %>
      </td>
    </tr>
  <% end %>
</table>

