<!DOCTYPE html>
<html>
  <head>
    <title>NimbleCodeChallenge</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark">

    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="<%= url_for (:back) %>">Back</a>
        </li>
        <li class="nav-item">
          <%= link_to "Courses", courses_path, class: 'nav-link' %>
        </li>
        <% if not current_user.nil? %>
          <% if current_user.instructor? %>
            <li class="nav-item">
              <%= link_to "Students", users_path, class: 'nav-link' %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>

    <div class="mx-auto order-0">
        <a class="navbar-brand mx-auto" href="/">Nimble Classroom</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>

    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
          <% if user_signed_in? %>
            <li class="navbar-text">
              Welcome <span style='color:#42f4ce'><%= current_user.username %></span>! Not you? <a href="<%= destroy_user_session_path  %>" data-method="delete">
                Sign out
              </a>
            </li>
          <% else %>
            <li class="navbar-text">
              <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "Sign in", new_user_session_path %>.
            </li>
          <% end %> 
        </ul>
    </div>

    </nav>

    <div id="container">

      <div id="wrapper" class="container">
        <br> 
        <% if flash[:notice] %>
          <div class="flash notice" style="color:green;">
            <%= flash[:notice] %>
          </div>
        <% end %>
        <% if flash[:alert] %>
          <div class="flash alert" style="color:blue;">
            <%= flash[:alert] %>
          </div>
        <% end %>
        <% if flash[:error] %>
          <div class="flash error" style="color:red;">
            <%= flash[:error] %>
          </div>
        <% end %>

        <%= yield %>

      </div>

      <div class="card-footer text-muted">
        <%= link_to "github", "https://github.com/nischalbasuti/CourseCodeChallenge" %>
      </div>

    </div>
  </body>
</html>
